.container{
   margin: 2em 3em;
}
.users{
   font-family: 'Work Sans';
   font-style: normal;
   font-weight: bold;
   font-size: 1.3em;
   line-height: 28px; 
   color: #213F7D;
   padding-bottom: 0.6em;
}
.parent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card{
    height: 80px;
    width: 24%;
    background-color: white;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    padding:0.5em 0.7em;
    border: 1px solid #EEF8FD;
    border-radius: 2px;
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.cardcontent{
  


}
.icon{
    width: 20px;
}
.user{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 0.76em;
    line-height: 16px;   
    color: #787C90;  
}
.count{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 20px;
    text-transform: uppercase; 
    color: #213F7D; 
    padding-top: 0.3em;
}
.chartsRow{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1115px) {
    .user{
        font-size: 0.7em;
    }
    .count{
        font-size: 1em;
    }
}
@media screen and (max-width: 955px) {
    .user{
        font-size: 0.68em;
    }
    .count{
        font-size: 0.9em;
    }
}
// @media screen and (max-width: 1390px) {
//     .user{
//         font-size: 0.8em;
//     }
//     .count{
//         font-size: 1.2em;
//     }
//     .icon{
//         height: 40px;
//         width: 40px;
//     }
// }
// @media screen and (max-width: 1310px) {
//     .user{
//         font-size: 0.87em;
//     }
//     .count{
//         font-size: 1.3em;
//     }
//     .icon{
//         height: 50px;
//         width: 50px;
//     }
//     .cardcontent{
//         padding:1.5em 1.5em;
//         align-items: center;
//     }
//     .card {
//         height: 190px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 1184px) {
//     .user{
//         font-size: 0.8em;
//     }
//     .count{
//         font-size: 1.2em;
//     }
//     .icon{
//         height: 50px;
//         width: 50px;
//     }
//     .cardcontent{
//         padding:1.5em 1.5em;
//         align-items: center;
//     }
//     .card {
//         height: 180px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 1128px) {
//     .user{
//         font-size: 0.78em;
//     }
//     .count{
//         font-size: 1.15em;
//     }
//     .icon{
//         height: 50px;
//         width: 50px;
//     }
//     .cardcontent{
//         padding:1.5em 1.5em;
//         align-items: center;
//     }
//     .card {
//         height: 170px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 1112px) {
//     .user{
//         font-size: 0.78em;
//     }
//     .count{
//         font-size: 1.15em;
//     }
//     .icon{
//         height: 50px;
//         width: 50px;
//     }
//     .cardcontent{
//         padding:1.2em 1.2em;
//         align-items: center;
//     }
//     .card {
//         height: 170px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 1056px) {
//     .user{
//         font-size: 0.74em;
//     }
//     .count{
//         font-size: 1.1em;
//     }
//     .icon{
//         height: 50px;
//         width: 50px;
//     }
//     .cardcontent{
//         padding:1.3em 1.3em;
//         align-items: center;
//     }
//     .card {
//         height: 170px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 1038px) {
//     .user{
//         font-size: 0.7em;
//     }
//     .count{
//         font-size: 1.1em;
//     }
//     .icon{
//         height: 50px;
//         width: 50px;
//     }
//     .cardcontent{
//         padding:1em 1em;
//         align-items: center;
//     }
//     .card {
//         height: 160px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 950px) {
//     .user{
//         font-size: 0.7em;
//     }
//     .count{
//         font-size: 1.1em;
//     }
//     .icon{
//         height: 50px;
//         width: 50px;
//     }
//     .cardcontent{
//         padding:0.7em 0.7em;
//         align-items: center;
//     }
//     .card {
//         height: 150px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 898px) {
//     .user{
//         font-size: 0.7em;
//     }
//     .count{
//         font-size: 1em;
//     }
//     .icon{
//         height: 40px;
//         width: 40px;
//     }
//     .cardcontent{
//         padding:0.5em 0.5em;
//         align-items: center;
//     }
//     .card {
//         height: 140px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 859px) {
//     .user{
//         font-size: 0.7em;
//     }
//     .count{
//         font-size: 1em;
//     }
//     .icon{
//         height: 40px;
//         width: 40px;
//     }
//     .cardcontent{
//         padding:0.5em 0.5em;
//         align-items: center;
//     }
//     .card {
//         height: 140px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 753px) {
//     .user{
//         font-size: 0.7em;
//     }
//     .count{
//         font-size: 0.9em;
//     }
//     .icon{
//         height: 37px;
//         width: 37px;
//     }
//     .cardcontent{
//         padding:0.3em 0.3em;
//         align-items: center;
//     }
//     .card {
//         height: 130px;
//         width: 23%;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }
// @media screen and (max-width: 630px) {
//     .user{
//         font-size: 0.7em;
//     }
//     .count{
//         font-size: 0.9em;
//     }
//     .icon{
//         height: 37px;
//         width: 37px;
//     }
//     .cardcontent{
//         padding:0.3em 0.3em;
//         align-items: center;
//     }
//     .card {
//         height: 130px;
//         width: 200px;
//         background-color: white;
//         border: 1px solid rgba(33, 63, 125, 0.06);
//         box-shadow: 3px 5px 20px rgb(0 0 0 / 4%);
//         border-radius: 4px;
// }
// }