.parent{
    background-color:white;
    height: 100vh;
    width:20%;   
    padding-top: 1em;
    margin-top: 5px;
    overflow: scroll;
}
.link{
    display: flex;
    text-decoration:none;  
    align-items: center;
    padding: 1em 2em;
}
.link:hover {
    background-color:#e8f1fd;
    color:#39CDCC;
  }
  .pageName{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 15px;   
    color: #647787;   
    padding-left: 1em; 
}
.maintext{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 15px;   
    color: #647787;    
}
.btn{
    background: #27AE60;
    border-radius: 30px;
    color: white;
    border: none;
    padding: 0.7em 1.9em;
    font-size: 0.7em;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}
.title{
    font-size:0.9em;
    padding-left: 2em; 
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #545F7D;
    padding-top: 2em;
    padding-bottom: 0.7em;
}
.icon{
   height: 20px;
   width: 20px;
}
.iconArrow{
   height: 18px;
   width: 18px;
   padding-left: 1em;
   padding-top: 0.5em;
}
.switchDiv{
    display: flex;
    padding-top: 2em;
    align-items: center;
    padding-left: 2em;
}
.btnDiv{
    display: flex;
    padding-top: 1em;
    align-items: center;
    padding-left: 2em;
}
.switch{
    font-size:1.1em;
    padding-left: 1em; 
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #213F7D;
}
.signout{
    padding: 3em 2em;
    cursor: pointer;
}
.main{
    background:rgb(250, 250, 250);
    width:80%;
    margin-top:5px;
    // backgroundColor:'fbfbfb';
    height:100vh;
    overflow:scroll

}

@media screen and (max-width: 1115px) {
    .main{
      width:100%
    }
    .pageName{
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 0.8em;
        line-height: 15px;   
        color: #647787;   
        padding-left: 1em; 
    }
    .title{
        padding-left: 1em; 
    }
    .link{
        padding: 1em 1em;
    } 
    .btnDiv{
        display: flex;
        padding-top: 1em;
        align-items: center;
        padding-left: 1em;
    }
    .btn{
        background: #27AE60;
        border-radius: 30px;
        color: white;
        border: none;
        padding: 0.7em 1.9em;
        font-size: 0.7em;
        letter-spacing: 0.2px;
        font-family: 'Roboto';
    }
}

@media screen and (max-width: 997px) {
    .main{
      width:100%
    }
    .pageName{
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9em;
        line-height: 15px;   
        color: #647787;   
        padding-left: 1em; 
    }
    .link{
        padding: 1em 1em;
    } 
}
@media screen and (max-width: 1000px) {
    .parent {
      width:70px;
    }
    .pageName{
        display: none;
    }
    .link:hover {
        background-color: rgb(177, 177, 177);
        width: 100%;
      }
      .title{
        display: none;
    }  
    .switch{
        font-size: 1em;
    }
    .btnDiv{
        display: none;
    }
    // .icon:hover + .pageName{
    //     display: block;
    //     color: red;
    //     width: 500px;
    // }
  }
  @media screen and (max-width: 1047px) {
    .btn {
      font-size: 0.65em;
    }
  } 

@media screen and (max-width: 1340px) {
    .pageName{
        font-size: 0.8em;
    }
    .switch{
        font-size: 0.9em;
    }
  }